.travel-top {
	// .travel-top__container

	&__container {
	}

	// .travel-top__items

	&__items {
		margin: 280px auto 0px auto;
		display: flex;

		justify-content: space-between;

		height: 100%;
		@media (max-width: $tablet) {
			justify-content: center;
			flex-wrap: wrap;
		}
	}

	// .travel-top__item

	&__item {
	}
}

.left-big {
	position: absolute;
	top: 0;
	left: -1%;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background: linear-gradient(180deg, #ffe6e9 0%, rgba(255, 230, 233, 0) 100%);
	@media (max-width: $mobile) {
		top: -75px;
	}
}

.center-small {
	position: absolute;
	width: 10px;
	height: 10px;
	left: 0;
	right: 0;
	margin: auto;
	top: 50px;

	background: linear-gradient(180deg, #ff4c64 0%, rgba(255, 76, 100, 0) 100%);
	transform: rotate(179.03deg);
	border-radius: 50%;
	@media (max-width: $mobile) {
		display: none;
	}
}

.right-big {
	position: absolute;
	width: 98px;
	height: 98px;
	right: -112px;
	top: -63px;
	border-radius: 50%;
	background: linear-gradient(302.42deg, #efe5e5 41.49%, #ff6377 110.64%);
	transform: rotate(120deg);
	@media (max-width: $tablet) {
		top: -54px;
		right: 11%;
	}
	@media (max-width: $mobile) {
		right: -8%;
	}
	@media (max-width: $mobileSmall) {
		display: none;
	}
}

.agent {
	flex: 0 1 48%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 0px 0px 50px 0px;
	padding: 50px 5px;
	position: relative;
	@media (max-width: $tablet) {
		flex: 0 1 100%;
		align-items: center;
		padding: 0px 5px;
	}
	// .agent__title

	&__title {
		font-family: "Acumin Pro";
		font-style: normal;
		font-weight: 700;
		@include adaptiveValue("font-size", 56, 36);
		line-height: math.div(67, 56);
		color: #19080a;
		@media (max-width: $tablet) {
			text-align: center;
		}
		span {
			white-space: nowrap;
		}
	}

	// .agent__text

	&__text {
		font-size: 22px;
		line-height: math.div(33, 22);
		max-width: 504px;
		margin: 25px 0px 50px 0px;
		@media (max-width: $tablet) {
			max-width: 80%;
			text-align: center;
		}
	}

	// .agent__btn

	&__btn {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		@media (max-width: $mobile) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}
.button-agent {
	flex: 0 0 151px;
	height: 57px;
	font-size: 18px;
	line-height: math.div(27, 18);
	margin: 0px 45px 0px 0px;
	@media (max-width: $mobile) {
		margin: 0px 0px 25px 0px;
	}
}

.img-woomen {
	max-width: 500px;
	width: 100%;
}

.agent-video {
	display: flex;
	align-items: center;
	.button-video {
		margin: 0px 0px 0px 15px;
		flex: 1 0 110px;
		position: relative;
		transition: all 0.6s ease;
		z-index: 3;
		&:hover {
			color: #ffe6e9;
			transition: all 0.6s ease;
		}

		&::before {
			content: "";
			position: absolute;
			top: -24%;
			left: 0px;
			width: 0;
			height: 42px;
			background: #ff4b65;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			transition: all 0.6s ease-in-out;
			z-index: -1;
			&:hover {
				width: 100%;
			}
		}
	}
	.button-video:hover::before {
		width: 100%;
	}
	// .agent-video__text

	&__text {
		padding: 0px 0px 0px 30px;
		white-space: nowrap;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: math.div(27, 18);
		color: #1a080a;
	}
}
.img-srvice {
	flex: 1 1 48%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	text-align: center;
	position: relative;
	@media (max-width: $tablet) {
		flex: 1 1 48%;
	}

	&::after {
		content: "";
		position: absolute;
		width: 30%;
		height: 50%;
		right: 75%;
		top: 174px;
		background: url("@img/tкavel/samolet.png") 0 0 no-repeat;
		@media (max-width: $tablet) {
			right: 65%;
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}

	&::before {
		content: "";
		position: absolute;
		bottom: 7px;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: linear-gradient(135.62deg, rgba(255, 210, 141, 0.03) 56.36%, rgba(255, 102, 121, 0.3) 84.95%);
		border-radius: 20px;
	}
	// .img-srvice__our

	&__our {
		position: absolute;
		top: 43px;
		right: 0;

		@include adaptiveValue("padding", 25, 16);
		background: #ffffff;
		box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.2);
		border-radius: 2px;
		img {
			@include adaptiveValue("max-width", 73, 50);
			width: 100%;
			position: relative;
			z-index: 5;
		}
		@media (max-width: 540px) {
		}
	}

	// .img-srvice__subtitle

	&__subtitle {
		font-family: "Acumin Pro";
		font-style: normal;
		font-weight: 500;
		@include adaptiveValue("font-size", 30, 17);
		line-height: math.div(42, 30);
		color: #1a0b06;
		margin: 16px 0px 13px 0px;
	}

	// .img-srvice__text

	&__text {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 400;
		@include adaptiveValue("font-size", 22, 16);
		line-height: math.div(33, 22);
		color: #1a0b06;
	}
}
//========================================================================================================================================================
.destination {
	// .destination__container

	&__container {
	}
}

.destination-title {
	margin: 0px 0px 25px 0px;
}
.destination-subtitle {
	margin: 0px 0px 60px 0px;
}
.bar-info {
}
.form-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.bar-inner {
	margin: 0px 0px 300px 0px;
}
.meny-location {
	background: #ffffff;
	box-shadow: 0px 12px 110px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	max-width: 770px;
	padding: 30px;
}
.title-option {
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: math.div(22, 33);
	color: #1a080a;
	margin-bottom: 10px;
}

select,
.date {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #4d4949;
	opacity: 0.7;
}
.link-search {
}
.rows {
}
